.father {
    height: 97vh;
    width: 98vw;
    
}

.connect-button {
    display: grid;
    width: 98vw;
    justify-content: flex-end;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    top: 60%;
    justify-content: space-around;
    width: 98vw;
}

.input-father {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 90vh;
}

.input {
    width: 50vw;
}

.Button {
  color: black;
}

.rectangule {
    color: white;
    width: 250px; 
    height: 20px;
    border: 3px solid black;
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3px;
}

.rectangule2 {
    color: black;
    width: 150px; 
    height: 50px;
    border: 3px solid black;
    background: white;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
}

.rectangule3 {
    color: black;
    width: 200px; 
    height: 100px;
    border: 3px solid black;
    background: white;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 480px;
}
.footer2{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 500px;
}

